<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>

<div class="main-div">
  <form
  autocomplete="off"
  novalidate
    [formGroup]="cadastro"
    (ngSubmit)="submit()"
    (ngReset)="reiniciarForm()"
  >
    <mat-card class="center width50">
      <mat-card-content>

        <app-input-text titulo="titulo *"
        [formGroup]="cadastro"
        controlName="titulo"
        >
        </app-input-text>

          <app-input-text titulo="Link Foto"
          [formGroup]="cadastro"
          controlName="urlFoto"
          >
          </app-input-text>


       <app-input-date
       titulo="Data de lançamento"
          [formGroup]="cadastro"
          controlName="dtLancamento"
       >

       </app-input-date>

        <app-input-textarea

        titulo="Descricao"
        [formGroup]="cadastro"
        controlName="descricao"
        >

        </app-input-textarea>




          <app-input-number

          titulo="nota IMDb*"
          [formGroup]="cadastro"
          controlName="nota"
        step="0.5"
          >

          </app-input-number>




          <app-input-text titulo="Link IMDb"
          [formGroup]="cadastro"
          controlName="urlIMDb"
          >
          </app-input-text>


          <app-input-select
          titulo="Gênero *"
          [formGroup]="cadastro"
          controlName="genero"
          [opcoes]="generos"
          >

          </app-input-select>

      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
